@import "../../global.css";

* {
    font-family: RetroFont, monospace;
}

body {
    background-color: navajowhite;
}

#volume {
    z-index: 2;
}

#background {
    position: absolute;

    top: 0;
    left: 0;

    z-index: -1;

    height: 100%;
    width: 100%;
}

#loading {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#pokemon_evolve {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    padding: 1.5rem;

    border-style: solid;
    border-radius: 1rem;
    border-color: black;
    border-width: .5rem;
}

#pokemon_evolve img {
    width: 8rem;
    height: auto;

    margin-top: 4rem;
    margin-bottom: 4rem;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#pokemon_evolve img[data-status="active"] {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#evolve, #dont_evolve {
    border: none;

    color: black;

    padding: 1rem;

    border-radius: 1rem;

    margin-left: 1rem;
    margin-right: 1rem;
}

#evolve:hover, #dont_evolve:hover {
    cursor: pointer;
}

#evolve:disabled, #dont_evolve:disabled {
    color: darkgray;
}

#evolve {
    background-color: greenyellow;
}

#evolve:hover {
    background-color: lightgreen;
}

#dont_evolve {
    background-color: orangered;
}

#dont_evolve:hover {
    background-color: indianred;
}

#evolve:active, #dont_evolve:active {
    color: dimgray;
}

.row_base {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: space-between;
}

#side_bar_controls {
    padding: 1rem;
}

.pokemon_avatar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    overflow-x: auto;

    max-width: 20rem;

    margin-top: 1rem;
    margin-bottom: 1rem;

    overflow-y: hidden;
}

.pokemon_avatar {
    border-radius: 50%;

    width: 4rem;
    height: 4rem;

    background: whitesmoke;

    border-style: solid;
}

.pokemon_avatar img {
    width: 75%;
    height: auto;
}

.attack {
    height: 4rem;

    border-style: solid;
    border-color: black;
    border-radius: 2rem;

    margin-top: .5rem;
    margin-bottom: .5rem;

    background-color: black;

    width: 20rem;

    display: flex;
    align-items: center;
    justify-content: start;
}

.attack:active {
    border-color: whitesmoke;
}

.attack_background {
    width: 80%;

    height: 100%;
    border-radius: 2rem;
}

.attack_title_container {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.attack_title_container h3, h5 {
    padding: 0;
    margin: 0 .25rem 0 3rem;

    font-family: Roboto, sans-serif;
}

.attack[data-status="active"] {
    color: black;
}

.attack[data-status="active"]:hover {
    cursor: pointer;
}

.attack[data-status="inactive"] {
    color: gray;
    border-color: gray;
}

.power_background {
    width: 20%;

    height: 100%;

    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.power {
    color: navajowhite;

    margin-left: .75rem;

    font-family: Roboto, sans-serif;
}

.good_for_player {
    color: forestgreen;
}

.bad_for_player {
    color: orangered;
}

.knock_out {
    color: darkorange;
}

.battle_log_container {
    position: absolute;

    top: 1rem;
    left: 1rem;
}

#log_container {
    position: absolute;

    width: 530px;
    height: 150px;

    top: 1.2rem;
    left: 1.2rem;

    font-size: 1.5rem;
}

#log {
    margin: 0;
}

#pokemon_select {
    padding: 1rem;
}

.pokemon_card {
    min-height: 8rem;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;

    margin-left: 3rem;
    margin-right: 3rem;
}

.pokemon_card[data-status="active"] {
    color: black
}

.pokemon_card[data-status="active"]:hover {
    cursor: pointer
}

.pokemon_card[data-status="knock"] {
    color: darkred;
}

.pokemon_card[data-status="inactive"] {
    color: gray;
}

#player_poke_balls {
    position: absolute;

    top: 14.5rem;
    right: 17rem;

    height: 3rem;
}

#player_poke_balls img {
    width: 2rem;
    height: auto;

    margin-left: .5rem;
    margin-right: .5rem;
}

#back_to_home {
    background-color: var(--color-grass);

    border-radius: 1rem;
    border-color: transparent;

    color: white;

    padding: 1rem;

    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 1.2rem;
    font-family: RetroFont, sans-serif;

    margin-top: 1rem;
}

#back_to_home:hover {
   color: navajowhite;
}

#back_to_home:active {
    color: papayawhip;
}

@media screen and (max-width: 1650px) {
    .attack {
        width: 15rem;
    }

    .attack_title {
        padding: 0;
        margin: 0 .25rem 0 2rem;

        font-family: Roboto, sans-serif;
    }

    .power {
        margin-left: .45rem;

        font-size: 1.25rem;
    }
}